<h1>Buscar filmes</h1>
<form [formGroup]="formBuscaFilme">
    <label for="titulo" class="form-label">Título</label>
    <input class="form-control" type="text" name="titulo" id="titulo" formControlName="titulo">
    <input class="btn btn-info mt-3" type="button" value="Buscar" [disabled]="formBuscaFilme.invalid"
        (click)="buscar()">
</form>

<div class="d-flex justify-content-center">
    <div *ngIf="filme != undefined" class="card mb-2" style="width: 15rem;">
        <img [src]="filme.Poster" class="card-img-top" alt="Pôster">
        <div class="card-body">
            <h5 class="card-title">{{filme.Title}}</h5>
            <ul class="card-text">
                <li>Diretor: {{filme.Director}}</li>
                <li>Ano: {{filme.Year}}</li>
                <li>Gênero: {{filme.Genre}}</li>
                <li>País: {{filme.Country}}</li>
            </ul>
        </div>
    </div>
</div>